body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  padding: 0.5rem;
  border-radius: 9999px;
  background-color: #635fc7;
  color: white;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.border {
  border-width: 1px;
  border-color: #e5e7eb;
}

.transparent {
  background: transparent;
}
