body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(17 24 39);
  height: 100vh;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  padding: 0.5rem;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55);
  color: white;
  font-weight: bold;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.border {
  border-width: 1px;
  border-color: #e5e7eb;
}

.transparent {
  background: transparent;
}

.bg-secondary {
  background-color: rgb(31 41 55);
}

.h-100 {
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-board {
  display: flex;
  flex-direction: row;
  height: 100%;
  color: white;
}

.sidebar {
  width: 20vw;
  background-color: rgb(31 41 55);
}

.sidebar * {
  margin: 1vh 0;
}

.sidebar button {
  background-color: transparent;
  padding: 0 1vw;
}

.sidebar button.active {
  background-color: #a6bdff;
}

.site-name {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 2vw;
}

.sidebar-button {
  display: flex;
  align-items: center;
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .5s;
}
